.teste{
    color: rgb(4, 123, 235);
  }
  
  .containerCenter{
    padding-top: 50px;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: var(--white);
  }
  
  .p{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #000000;
    margin-top: -32px;
    margin-bottom: 24px;
    padding: 8px 0px;
    font-size: 28px;
  }
  
  .label{
    color:#000000;
    font-family: sans-serif;
  }

  .dataContainer{
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  .login{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 600px;
  
    form{
      color: var(--white);
      padding-bottom: 24px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 16px;
    }
  
    form button{
      height: 40px;
      font-size: 16px;
      background-color: var(--blue);
      color: var(--white);
      border: 0;
      border-radius: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
    }
  
    form button:hover{
      transform: scale(1.05);
    }
  
  }
  
  .input{
    height: 40px;
    border: 1px solid var(--gray-100);
    padding: 0px 16px;
    border-radius: 8px;
    background-color: var(--white);
    font-size: 18px;
   
  }

  .select{
    height: 40px;
    border: 1px solid var(--gray-100);
    padding: 0px 16px;
    border-radius: 8px;
    background-color: var(--white);
    font-size: 18px;
  }
  
  .img{
    margin-top: -96px;
    width: 20%;
    height: 20%;
  }
  
  .input::placeholder{
    color: var(--black);
  }
  
  .text{
    color: var(--black);
    margin-top: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .text:hover {
    color: var(--blue);
    transform: scale(1.05);
  }

  .modalContent {
    width: 500px;
    height: 410px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    z-index: 1000;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
  }
  
  .selectContainer {
    flex-direction: column;
    display: flex;
    gap: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .dataContainer{
    display: flex;
    flex-direction: row;
  }
  
  .confirmButton {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .exitButton {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #be2323;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Toastify__toast-container {
    z-index: 1001; /* Garante que o Toast apareça acima do Modal */
  }
  
  
  @media(max-width: 720px){

    .dataContainer{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .login{
      margin-top: -16px;
      width: 90%;
    }
  
    .img{
      width: 70%;
      height: 70%;
    }
  
    .p{
  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      color: #000000;
      margin-top: -32px;
      margin-bottom: 24px;
      padding: 8px 0px;
      font-size: 18px;
    }

    .modalContent {
      width: 300px;
      height: 510px;
      padding: 20px;
      background: #fff;
      border-radius: 8px;
      position: relative;
      z-index: 1000;
    }
  }