.fieldGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 1rem;
    color: var(--text-color);
}

.input:focus {
    border-color: var(--primary-color);
    /* Vermelho para combinar com o tema */
    outline: none;
}

.toggleButton {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: color 0.3s;
}

.toggleButton:hover {
    color: var(--primary-color);
    /* Vermelho ao passar o mouse */
}

.toggleButton:focus {
    outline: none;
}


@media (max-width: 768px) {


    .inputWrapper{
        width: 100%;
        margin: 0px auto;
    }  
}